body {
    background-image: url(../images/nakatomiPlaza.jpg);
}
.active {
    border: 2px solid green;
}
h2 {
    text-align: center;
    display: block;
    width: 100%;
}
.defender {
    border: 2px solid red;
}
.card {
    width: 15rem;
    margin: 0px auto 0px auto;
}
.enemies {
    margin: 0px auto 0px auto;
}

