body {
    background-image: url(../images/nakatomiPlaza.jpg);
}
h1 {
    color: #dc3545;
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'Days One', sans-serif;
    font-weight: 700;
    font-size: 52px;
    text-shadow: 2px 3px 0px #950412;
    border-bottom: 2px dotted white;
}
h2 {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0px 0px 20px 0px;
}
h5 {
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'Days One', sans-serif;
    font-weight: 400; 
}
h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding: 10px 0px 5px 0;
}
.active {
    border: 4px solid #47BE2E;
}
.defender {
    border: 4px solid #dc3545;
}
.card {
    width: 15rem;
    margin: 0px 10px 20px 10px;
    box-shadow: 0px 0px 10px black;
}
.enemies {
    margin: 0px auto 0px auto;
}
/* font-family: 'Raleway', sans-serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Days One', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif; */
